<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<div class="container">
    <!-- Header -->
    <div id="header">
        <div class="shell">
            <!-- Logo + Top Nav -->
            <div id="top">
                <h1>Регистрация на соревнования</h1>
            </div>
            <!-- End Logo + Top Nav -->

            <!-- Main Nav -->
            <div id="navigation">
                <ul>
                    <li><a th:href="@{/admin/index}" class="active"><span>Соревнования</span></a></li>
                    <li><a th:href="@{/admin/createCompetition}"><span>Добавить соревнование</span></a></li>
                    <li><a th:href="@{/admin/archive}"><span>Архив</span></a></li>
                    <li><a th:href="@{/logout}"><span>Выход</span></a></li>
                </ul>
            </div>
            <!-- End Main Nav -->
        </div>
    </div>
    <!-- End Header -->
    <!-- Container -->
    <div id="container">
        <div class="shell">
            <br />
            <!-- Main -->
            <div id="main">
                <div class="cl">&nbsp;</div>

                <!-- Content -->
                <div id="content">

                    <!-- Box -->
                    <div class="box">
                        <!-- Box Head -->
                        <div class="box-head">
                            <h2 class="left">Соревнование</h2>
                        </div>
                        <!-- End Box Head -->
                        <form th:action="@{/admin/action/{id}(id=${event.id})}" method="GET">
                            <div class="str">
                                <p>Название: <span th:text="${event.nameCompetition}"></span></p>
                            </div>
                            <div class="str">
                                <p>Место проведения: <span th:text="${event.location}"></span></p>
                            </div>
                            <div class="str">
                                <p>Дата проведения: <span th:text="${event.dateCompetition}"></span></p>
                            </div>
                            <div class="str">
                                <p>Описание: <span th:text="${event.info}"></span></p>
                            </div>
                            <div class="str">
                                <p><a th:href="@{/load/{fileName}(fileName = ${event.position})}"> Положение</a></p>
                            </div>
                            <div class="registerbtn-group">
                                <button type="submit" class="registerbtn" name = "action" value="change">Редактировать</button>
                                <button type="submit" class="registerbtn" name = "action" value="delete">Удалить</button>
                                <button type="submit" class="registerbtn" name = "action" value="startList">Стартовый список</button>
                                <button type="submit" class="registerbtn" name = "action" value="back">Назад</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
