<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Регистрация на соревнования</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<!-- Header -->
<div id="header">
    <div class="shell">
        <!-- Logo + Top Nav -->
        <div id="top">
            <h1>Администратор</h1>
        </div>
        <!-- End Logo + Top Nav -->

        <!-- Main Nav -->
        <div id="navigation">
            <ul>
                <li><a th:href="@{/admin/index}" class="active"><span>Соревнования</span></a></li>
                <li><a th:href="@{/admin/createCompetition}"><span>Добавить соревнование</span></a></li>
                <li><a th:href="@{/admin/archive}"><span>Архив</span></a></li>
                <li><a th:href="@{/logout}"><span>Выход</span></a></li>
            </ul>
        </div>
        <!-- End Main Nav -->
    </div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
    <div class="shell">
        <br />
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>

            <!-- Content -->
            <div id="content">

                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head">
                        <h2 class="left" th:text="${event.nameCompetition}"></h2>
                        <div class="right">
                            <label>Дистанция</label>
                            <select id = "selectDistance" class = "selectDistance">
                                <option th:each="distance : ${distances}" th:text="${distance.distanceName}"></option>
                            </select>
                        </div>
                    </div>
                    <!-- End Box Head -->
                    <!-- Table -->
                    <div class="table">
                        <table id = "startList">
                            <thead>
                            <tr>
                                <th colspan="1">Участник</th>
                                <th>Пол</th>
                                <th>Возрастная группа</th>
                                <th>Дистанция</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="startListRow : ${startListRows}" class="data">
                                <td><span th:text="${startListRow.participant}"> Участник </span></td>
                                <td><span th:text="${startListRow.gender}"> Участник </span></td>
                                <td><span th:text="${startListRow.ageGroupName}"> Возрастная группа </span></td>
                                <td class = "distance"><span th:text="${startListRow.distanceName}"> Дистанция </span></td>
                            </tr>
                            </tbody>
                        </table>                  <!-- Pagging -->
                        <div class="pagging">

                        </div>
                        <!-- End Pagging -->

                    </div>
                    <!-- Table -->
                    <form th:action="@{/admin/print/{id}(id=${event.id})}" method="GET">
                        <button type="submit" class="funcbtn">Печать</button>
                    </form>
                </div>
                <!-- End Box -->
            </div>
            <!-- End Content -->

            <div class="cl">&nbsp;</div>
        </div>
        <!-- Main -->
    </div>
</div>
<!-- End Container -->

<script type="text/javascript" th:src="@{/js/jquery-2.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/filterStartList.js}"></script>
</body>
</html>